.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.form-outline .form-control:invalid ~ .form-label,
.form-outline .form-control:focus ~ .form-label {
  transform: translateY(-1.5rem);
}


.form-outline input:valid ~ label,
.form-outline input:focus ~ label,
.form-outline textarea:focus ~ label {
  transform: translateY(-1.5rem);
  font-size: 0.85rem;
  color: #495057;
}
